
@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");

section
{
    padding: 0;
}

#banner 
{
    background-color: #111111;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    background-image: url("../../../../imagem/banner.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 0;
    height: 45rem !important;
    min-height: 45rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}



#banner:before {
    -moz-transition: opacity 3s ease;
    -webkit-transition: opacity 3s ease;
    -ms-transition: opacity 3s ease;
    transition: opacity 3s ease;
    -moz-transition-delay: 1.25s;
    -webkit-transition-delay: 1.25s;
    -ms-transition-delay: 1.25s;
    transition-delay: 1.25s;
    background: #111111;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.45;
    position: absolute;
    top: 0;
    z-index: 1; }
  #banner:after {
    background: linear-gradient(135deg, #ce1b28 0%, #111111 74%);
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;

    width: 100%;
    z-index: 1; }

.inner
{
    margin-top: 100px;
    width: 100%;
    max-width: calc(100% - 11rem);
}
#banner .inner
{
    color: #fff;
    transform: scale(1.0);
    transition: opacity 1s ease, transform 1s ease;
    opacity: 1;
    position: relative;
    z-index: 3;
}

#banner p 
{
    font-size: 1.5rem;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;

}

p
{
    margin: 0 0 2rem 0;
    margin-top: 0px;
    margin-bottom: 2rem;
}

#banner h1 
{
    font-size: 4.5rem;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;

}

#btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
.btn_baixar:hover
{
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}
.btn_baixar {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex: 1;
  min-width: 300px;
  height: 70px;
  font-size: 1em;
  border-radius: 35px;
  background-color: #f8f9fa;
  box-shadow: inset 0 0 0 1px #ffffff;
  color: #000 !important;
  cursor: pointer;
  line-height: 3.25rem;
  border: none;
}

.btn_baixar:first-child
{
    margin: 3px 3px 3px 3.5px;
}

.btn_baixar:last-child
{
    margin: 3px 3.5px 3px 3px;
}

.btn_baixar img
{
    width: 10%;
    padding:5px
}

@media screen and (max-width: 736px) 
{

    #banner .inner 
    {
        width: 100%; 
        margin-top: 100px;
    }
    #banner h1 
    {
        font-size: 1.75rem;
        margin-bottom: 0.5rem;
        padding-bottom: 0; 
    }
    #banner p 
    {
        font-size: 1.25rem; 
    }
    #banner br 
    {
        display: none; 
    }
    .inner
    {
        max-width: calc(100% - 2rem);
    }
}